<ion-header>
    <ion-toolbar (click)="onSelectCustomer()">
        <ion-item *ngIf="!selectedCustomer" lines="none">
            <ion-icon md="people" ios="people-outline" slot="start"></ion-icon>
            <ion-title >Add Customer</ion-title>
        </ion-item>

        <ion-item *ngIf="selectedCustomer">
            <ion-icon md="person-circle" ios="person-circle-outline" slot="start"></ion-icon>
            <div>
                <h3>{{ selectedCustomer.name }}</h3>
                <ion-label>{{ selectedCustomer.username}}</ion-label>
            </div>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="ion-no-padding">
                <ion-list *ngIf="isLoading && cartItems.length > 0" >
                    <ion-item *ngFor="let item of cartItems">
                        <ion-row *ngIf="item == 1">
                            <ion-col size="1.5">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-col>
                            <ion-col size="7.5">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-col>
                            <ion-col size="3">
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
                <ion-list  *ngIf="!isLoading && cartDetail">
                    <ion-item *ngFor="let item of cartItems">
                        <ion-row *ngIf="item !== 1" (click)="openModal(item.product)">

                            <ion-col size="6">
                                <h6>{{ item.product_name }}</h6>
                                <small>Size: {{ item.size}}</small>
                            </ion-col>
                            <ion-col size="3">
                                <b>Qty: <span>{{ item.qty }}</span></b>
                                <p>Price: <span>{{ item.price }} <small>tk</small></span></p>
                            </ion-col>
                            <ion-col size="3">
                                <p>{{ item.sub_total }} <small>Tk</small></p>
                                <p>{{ item.point }} <small>points</small></p>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="12" class="ion-no-padding summery">
                <ion-list class="ion-no-padding">
                    <ion-item *ngIf="isLoading">
                        <ion-skeleton-text animated ></ion-skeleton-text>
                        <ion-skeleton-text animated ></ion-skeleton-text>
                    </ion-item>
                    <ion-item *ngIf="isLoading">
                        <ion-skeleton-text animated ></ion-skeleton-text>
                        <ion-skeleton-text animated ></ion-skeleton-text>
                    </ion-item>

                    <ion-item *ngIf="!isLoading && cartDetail">
                        <ion-label>Total</ion-label>
                        <ion-label class="ion-text-right">{{ cartDetail.total_amount }} <small>tk</small></ion-label>
                    </ion-item>
                    <ion-item *ngIf="!isLoading && cartDetail">
                        <ion-label>Total Point</ion-label>
                        <ion-label class="ion-text-right">{{ cartDetail.total_point }} <small>points</small></ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="btn-group" *ngIf="!isLoading && cartDetail">
            <ion-col size="6">
                <ion-button
                        expand="block"
                        fill="solid"
                        color="secondary"
                        strong="true"
                        (click)="clearCart()"
                >Clear</ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button
                        expand="block"
                        fill="solid"
                        strong="true"
                        class="btn-purple"
                        (click)="sale()"
                        [disabled]="!selectedCustomer"
                >Sale
                    <ion-icon name="cart"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!isLoading && !cartDetail">
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <h1>No item found in Cart.</h1>
            </ion-col>
            <ion-col size="8" offset="2" >
                <ion-button
                        expand="block"
                        fill="solid"
                        strong="true"
                        class="btn-purple"
                        [routerLink]="['/sr/products']"
                        routerDirection="back"
                >Add Product
                    <ion-icon name="cart"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
