ion-header{
    ion-toolbar{
        ion-item{
            --padding-start: 0;
        }
        ion-searchbar{
            padding-inline-start: .8rem;
            padding-inline-end: .8rem;
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: .5rem;

        }
    }
}

ion-content{
    ion-grid{
        padding: 0;
        ion-row{
            ion-col{
                padding: 0;
                h1{
                    color: var(--theam-color);
                    font-weight: bold;
                    margin-top: 50%;
                }
            }
        }
        .product-list{
            margin-top: .5rem;
        }
    }
}


.searchbar-input-container{
    .searchbar-input{
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        padding-inline-start: 37px;
    }
    .searchbar-search-icon {
        left: 7px;
        top: 8px;
        width: 20px;
        height: 20px;
    }

}
